@charset "utf-8";

/* reset */
body, ul {margin:0;padding:0;}
li {list-style: none;}

/* slider */
#slider {}
#slider li {
    width: 100%; height: 700px;
    background: no-repeat center / cover;
}
#slider li.slider1 {background-image: url(../images/bg1.jpg)}
#slider li.slider2 {background-image: url(../images/bg2.jpg)}
#slider li.slider3 {background-image: url(../images/bg3.jpg)}
